/* .topimage {

    background-image: url('images/top.jpg');
    padding: 0px;
} */

/* .bg-image {
    background-image: url(top.jpg);
} */

.p1 {
    margin-top: 170px;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 300px;
    padding-bottom: 300px;
    font-size: 50px;
    text-align: center;
} 

.scnd-div {
    text-align: center;
    margin-top: 50px;
}

.heading-div-two {
    font-size: 30px;
    font-weight: bolder;
}

.line {
    margin-left: 600px;
    margin-right: 600px;
}

.column {
    /* float: left; */
    width: 33.33%;
    margin-right: 0px;
    padding-right: 0px;
  }

  .column2 {
    /* float: left; */
    width: 33.33%;
    margin-top: 147px;
    padding-right: 0px;
  }


  .row {
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 40px;
    margin-right: 150px;
    /* text-align: center; */
  }


  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .para {
    margin-top: 15px;
    text-align: justify;
    width: 80%;
  }

  
  .horizon {
    border:none;
    border-top:2px dashed #f00;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:80%;
  }

  .p2 {
    margin-top: 360px;
    padding-left: 300px;
    padding-right: 300px;
    /* padding-top: 300px; */
    padding-bottom: 400px;
    font-size: 40px;
    text-align: center;
} 

.button-mid {
  margin-top: 230px;
  position: absolute;
  padding-top: 0px;

}

.heading4 {
  margin-top: 20px;
}

.button-bottom {
  width: 20%;
  margin-top: 70px;
  justify-content: center;
  margin-left: 500px;  
}

.column3 {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row2::after {
  content: "";
  clear: both;
  display: table;
}